{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    ["dynamic-import-node", {
      "noInterop": true
    }],
    "react-html-attrs",
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ]
  ]
}